.card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
    width: 16rem;
    margin: 2rem;
    max-height: 35rem;
    overflow-y: auto;
    background-repeat: no-repeat;
    background-size: cover;
      
  }
  
  .list {
    max-height: 53rem;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow:auto;
  }
  
  
  .card label{
    font-weight:bold;
    font-size: 1.5rem;
    margin-right: 4px;

  }
  .card p{
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
  }