.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1A3162;
  padding: 0 10%;
  margin-bottom: 0;
}
.logo img{
  width: 15rem;
  height: 15rem;
}
.items{
  height: 15rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.items p{
  color: black;
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.footer li {
  margin-left: 3rem;
}

.footer a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

.footer a:hover,
.footer a:active,
.footer a.active {
  color: wheat;
}
.contacts{
  display: flex;
  flex-direction: column;
  justify-content:first baseline;
  padding-left: 2rem;
  background-color: #1A3162;
}
.contacts a{
  font-size: 1.5rem;
  display: flex;
  text-decoration: none;
  color: white;
}
.contacts a:hover{
font-weight: bolder;
}
.blankLinks{
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
@media screen and (max-width: 700px){
  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #1A3162;
    padding: 0 10%;
    margin-bottom: 0;
  }
  .logo img{
    width: 10rem;
    height: 10rem;
  }
  .items{
    height: 15rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .items p{
    color: black;
  }
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .footer li {
    margin-left: 1rem;
  }
  
  .footer a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
  }
}